VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=divcard-7e997.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=divcard-7e997
VITE_FIREBASE_STORAGE_BUCKET=divcard-7e997.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
